:root {
    --bg-primario: #022f17;
    --bg-secundario: #89E219;
}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.cabecalho {
    /* display: flex; */
    /* justify-content: space-around; */
    background-color: var(--bg-primario);
    color: #fff;
    padding: 3rem;
}

.pontuacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 1rem; */
}

.pontuacao li {
    width: 10rem;
    font-size: 2rem;
    list-style: none;
}


.secao_unidade {
    width: 32rem;
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    background-color: var(--bg-secundario);
}

.secao_unidade .container {
    width: 90%;
    border-right: 1px solid #000;
    word-wrap:;
}

.container h2 {
    color: yellow;
    font-size: 2rem;
}

.container h3 {
    color: #fff;
    font-size: 1.8rem;
}
