:root {
    --bg-primario: #022f17;
    --bg-secundario: #A2E838;
}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.cabecalho {
    /* display: flex; */
    /* justify-content: space-around; */
    background-color: var(--bg-primario);
    color: #fff;
    padding: 3rem;
}

.pontuacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 1rem; */
}

.pontuacao li {
    width: 10rem;
    font-size: 2rem;
    list-style: none;
}

